body{
  padding: 0;
  margin:0;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

header{
  width: 100%;
  height: 69px;
  display: flex;
  position:fixed;
  z-index:1;
  border-bottom: 1px solid seashell;
  align-items: center;
  justify-content: space-between;
  background-color: inherit;
}

/*part of nav in header*. It is common for all span on page*/

span{
  text-decoration: underline;
  padding: 20px 10px;
}

/*part of header*/
nav{

  display: flex;


}

/*part of header*/

.logo{
  display: flex;
  text-align: left;
  padding-left: 10px;
  height: 50px;
  width:162px;
}

/*part of header in menu section*/

a{
  color:inherit;
}

/*main flex container. It contains 3 columns (flex direction: column)*/

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top:69px;
}

/* class ".col" defines style which is common for all "main" flex container's items*/

.col{
  display: flex;
  flex-direction: column;
  justify-content: center;



}

/*appendix to .col which is uniq for first "main" container item. */

.first.col{
  width: 1200px;
  height:700px;
  padding-top:70px;
  background-image: url("../images/img-mission-background.jpg"); /*relative path to style.css*/
  /*background-position: top 70px;*/
}


/*appendix to .col which is uniq for second "main" container item. */

.second.col{
  width:1000px;
  margin-bottom: 60px;
  padding-top: 70px;
  margin-left: 100px;
  margin-rigt:100px;
}

/*appendix to .col which is uniq for 3rd "main" container item. */

.third.col{
  width:1200px;
  height:500px;
  padding-top:70px;
  background-image: url("../images/img-locations-background.jpg");
  justify-content: flex-start;

}

/*used for div where we have h2 & h4 together*/
.title {
  display: flex;
  flex-direction: column;
  background-color: black;
  width: 100%;
}

h2, h4{
  margin:0px;
  padding: 10px;

}

/*.second.col h2{
  padding-top:70px;
}*/


/*container for .box*/

.boxes{
  display: flex;
  /*flex-wrap: wrap;*/
}


/*flex conatiner for everything that we have in one box (foto + h4 element)*/
.box {
  padding:5px;
  display: flex;
  flex-direction: column;
}

/*used to resize the image to fit in 300x200 box */
.foto{
  width: 300px;
  height: 200px;
  margin: 10px;
}

/*used in combination with .foto. used to resize picture to fit 300X200 box*/
img {
    max-width: 100%;
    max-height: 100%;
}

/*flex container which contains .box of the first row*/
.boxes_first_row {
  display: flex;
}

/*flex container which contains .box of the 2nd row*/
.boxes_second_row{
  display:flex;
  justify-content: center;
}

/*in all these classes below .col is reused becouse it contains properties common for elements in 3rd and 4th section of document .*/

.col.box3{
  background-color: black;
  width: 300px;
  margin-top:15px;
  margin-left:20px;
  margin-right:20px;

}

.third.col .boxes{
  justify-content: center;
  /*align-items: center;*/
}

.fourth.col {
  height:200px;
  width:100%;
  justify-content: flex-start;
}


footer {
  padding-left: 20px;
  text-align: left;
}
